@font-face {
   font-family: ITC_Eras_Bold;
   src: url(../fonts/ErasBoldITC.ttf) format("truetype");
}

@font-face {
   font-family: ERASBD;
   src: url(../fonts/ERASBD.TTF) format("truetype");
}

@font-face {
   font-family: OpenSans-Bold;
   src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-BoldItalic;
   src: url(../fonts/OpenSans-BoldItalic.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-ExtraBold;
   src: url(../fonts/OpenSans-ExtraBold.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-ExtraBoldItalic;
   src: url(../fonts/OpenSans-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-Italic;
   src: url(../fonts/OpenSans-Italic.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-Light;
   src: url(../fonts//OpenSans-Light.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-LightItalic;
   src: url(../fonts/OpenSans-LightItalic.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-Regular;
   src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-SemiBold;
   src: url(../fonts/OpenSans-SemiBold.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-SemiBoldItalic;
   src: url(../fonts/OpenSans-SemiBoldItalic.ttf) format("truetype");
}

body, html {
   margin: 0;
   padding: 0;
}

/* SECTION DISCOVERY */

/* PLACEMENT OF THE DISCOVERY BLOCK */
#background-discovery {
   clip-path: polygon(22% 20%, 100% 5%, 100% 95%, 22% 90%, 20% 55%);
   background-color: #001d26;
   width: 1500px;
   height: 900px;
   margin-left: 350px;
}

/* DISCOVERY TITLE START */

/* MODIFICATIONS OF THE TITLE OF THE DISCOVERY PAGE */
#discovery-title {
   color: white;
   text-align: right;
   padding: 200px 50px 0 0;
}

/*FONT AND WRITING SIZE FOR THE H2*/
#discovery-title h2 {
   font-family: ITC_Eras_Bold;
   font-size: 41px;
   font-weight: 500;
}

/*FONT AND WRITING SIZE FOR THE P*/
#discovery-title p{
   font-family: OpenSans-Regular;
}

/*FONT-WEIGHT FOR THE CREDIT LÉDONIEN ON P*/
#discovery-title .credit-lédonien-weight{
   font-weight: 600;
}
/* DISCOVERY TITLE END */

/*NAME-OF-ARTICLES START*/

/* PALCEMENT OF THE FOUR NAVIGATION MENUS */
.names-Of-Articles {
   margin: -30px 0 0 350px;
}

/*ALIGNMENT OF THE PARTS*/
.names-Of-Articles ul li {
   flex-direction: column;
   list-style: none;
}

/*FONT AND WRITING SIZE FOR THE H3*/
.names-Of-Articles h3 {
   font-family: OpenSans-Light;
   font-size: 16px;
}

/*DIMENSION OF A PART OF THE DISCOVERY SECTION */

.buttom-article {
   background-color: #001d26;
   border: none;
   text-align: left;
   border-bottom: 3px solid;
   width: 400px;
   padding: 10px 0 2px 0;
   cursor: pointer;
   color: rgb(255, 255, 255, 0.4);
   transition: color 0.3s ease;
}

/* WHEN YOU PRESS A BUTTON IT TURNS WHITE */
.active, .buttom-article:hover {
   color: rgb(255, 255, 255, 1);
}
/*NAME-OF-ARTICLES END*/

/*ARTICLES STARTS*/

/* THE FOUR PARTS OF THE DISCOVERY PAGE*/
.frame {
   display: none;
   clip-path: polygon(0% 0, 100% 0%, 100% 85%, 0% 90%);
   background-color: #008090;
   height: 500px;
   width: 650px;
}

/* PLACEMENT OF ALL ITEMS  */
.article-descovery {
   margin: -450px 1200px;
}

/* PLACEMENT OF ALL IMAGES */
.article-descovery img {
   height: 40%;
   width: 80%;
   display: block;
   margin: auto;
   padding-top: 20px;
   background-size: cover;
}

/*ARTICLES STARTS*/








