*{
   scroll-behavior: smooth;
}

strong {
   color: #000000;
   font-family: OpenSans-SemiBold;
}

button {
   border: none;
}

h2 {
   color: #001d26;
   font-family: ITC_Eras_Bold;
   font-size: 42px;
   line-height: 47px;
}

div {
   box-sizing: border-box;
   /* border: 1px solid red; */
}

body {
   /* background-color: #779bd6; */
   font-family: OpenSans-Regular;
   color: #5b5c5e;
   font-size: 14px;
   margin: 0;
   line-height: 26px;
   
}


h3 {
   margin: 0px;
   font-family: ITC_Eras_Bold;
   font-size: 30px;
}

nav {
   background-color: #fff;
   box-shadow: #000;
   width : 80px;
   height : 100vh;
   display:flex;
   position:fixed;
   right: 0px;
   flex-direction: column;
   align-items: center;
   z-index:12;
}

input {
   -webkit-appearance: none;
   margin: 0;
   height: 80px;
   width: 100%;
   border: solid 1px rgb(91, 91, 91);
   text-align: center;
   font-size: 24px;
}

input[type=number] {
   -moz-appearance: textfield;
}
.white{
    color: white;

}

/* ARTICLES */

.mi-strong {
   font-family: OpenSans-SemiBold;
   color: #464646;
}

.article {
   display: flex;
   flex-direction: row;
   width: 63%;
   justify-content: space-around;
   margin: auto;
   flex-wrap: wrap;
}

.article1 {
   width: 100%;
   overflow: hidden;
}


.image-article {
   margin: auto;
}

.article2 {
   width: 100%;
   padding-top:10%;
   padding-bottom: 5%;
   overflow: hidden;
   padding-left: 2vw;
}

.article1 h2,
.article2 h2 {
   color: #001d26;
   font-family: ITC_Eras_Bold;
   font-size: 40px;
   margin: 0px;
}

#knowmore {
   background-color: #008090;
   color:#fff;
   font-family:OpenSans-Regular;
   font-size: 17px;
   padding-top: 10px;
   padding-bottom:10px;
   padding-left: 20px;
   padding-right: 20px;
   display: flex;
   align-items: center;
   
}
#knowmore-arrow {
   height:15px;
   margin-left: 30px;

}

/* END ARTICLES */

/* HEADER */
.top-warning {
   font-family: OpenSans-Light;
   color: #5b5c5e;
   text-transform: uppercase;
   font-size: 14px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.top-warning > p {
   margin: 0;
   padding-right: 30px;
}



/* TOP PART OF THE FOOTER */
.topfooter {
   background-color: #1a343c;
   font-family: ITC_Eras_Bold;
   text-transform: uppercase;
   padding: 10px;

}

#navfooter{
   
   box-shadow: #000;
   width: 90vw;
   text-align: center;
   align-items: center;
}

.sitemap {
   list-style-type: none;
   display: flex;
   justify-content: center;
}

.sitemaplink {
   text-decoration: none;
   margin-right: 15px;
}

.sitemaplink :hover,
.sitemaplink :active,
.sitemap :visited {
   color: #fff;
}

/* BOTTOM PART OF THE FOOTER */

.botfooter {
   
   background-color: #001d26;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.logofooter>img {
   display: flex;
   height: 150px;
}

.logofooter {
   display: flex;
}

.loanwarning {
   color: #fff;
   font-family: OpenSans-Light;
   font-size: 12px;
   width: 270px;
}

.leftbotfooter {
   display: flex;
   flex-direction: column;
}

.infosfooter {
   color: #fff;
   font-family: OpenSans-Regular;
   font-size: 12px;
   display: flex;
   flex-direction: column;
   line-height: 0px;
   ;
}

.centerbotfooter {
   display: flex;

}

.rightbotfooter {
   display: flex;
   flex-direction: column;
   align-items: flex-end;

   color: white;
   font-family: OpenSans-Light;
   font-size: 12px;
}

.legallink {
   color: #fff;
   text-decoration: none;

}

.credit {
   font-family: OpenSans-Bold;
   color: #008090;
   text-decoration: none;
}

/* SIMULATEUR */
#simulateur {
   background-color: white;
   display: flex;
   flex-direction: column;
   /* width: 35%; */
   height: 590px;
   border: solid 30px white;
   /* justify-content: flex-start; */
   row-gap: 6%;
   box-shadow: 0px 0px 10px rgb(204, 204, 204);
}

#simulateur-cliked {
   display: none;
   flex-direction: column;
   align-items: flex-start;
   background-color: white;
   height: 85vh;
   row-gap: 6%;
   border: solid 30px white;
}

#simulateur h2, #simulateur-cliked h2, #simulateur p{
    margin : 0px;
}

#simulateur h3{
    font-size: calc(6px + 1.5vw);
}


.logo-simulateur {
   height: 60px;
   margin: 1% 5%;
}

.logo-next {
   height: 50px;
   margin: 1% 2%;
}

.btn-simulateur:hover {
   background-color: #15a9bd;
}

/* Articles */
strong{
   color: #001d26;
   font-family: OpenSans-SemiBold;
}
.mi-strong{
   font-family: OpenSans-SemiBold;
}

.article-container{
   display:flex;
   padding-left: 50px;
   justify-content: space-between;
   
}

.all-articles{
   display: flex;
   flex-direction: column;
   max-width: 50vw;
}

.fakesim {
   display:flex; 
   border: grey 1px solid;
   width: 45%;
   height: 45vw;
   align-items: center;
   text-align: center;
}

.placeholder {
   font-family:ITC_Eras_Bold;
   font-size: 50px;
}

.btn-simulateur:active {
   background-color: #001d26;
}

.btn-simulateur {
   color: white;
   display: flex;
   flex-direction: row;
   flex-basis: 10%;
   width: 100%;
   flex-basis: 110px;
   background-color: #008090;
   align-items: center;
   /* justify-content: space-between; */
   /* border: solid 2px red; */
   /* margin: 5% 0px; */
   transition: 0.3s;
}

.contenu-btn-simulateur {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-evenly;
   height: 90px;

}

.emprun {
   /* text-align: center; */
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 20px;
}

.mensualites-et-duree {
   display: flex;
   width: 100%;
   flex-direction: row;
   justify-content: space-evenly;
}

.mensualites-ou-duree {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   flex-basis: 50%;
   row-gap: 15px;
}

.mr5 {
   margin-right: 5%;
}

.duree {
   flex-basis: 50%;
}

.btn-simulateur-fleche {
   margin-left: auto;
}

.consigne {
   color: rgb(136, 136, 136);
   /* font-style: italic; */
   font-family: OpenSans-Italic;
   font-size: 18px;
}

.label-simulateur {
   color: rgb(100, 100, 100);
   font-family: OpenSans-SemiBold;
}

.sous-titre {
   font-size: 18px;
   margin-top: -5px;
}

/* END SIMULATOR */

/* START SLIDESHOW */
.discover {
   width: 240px;
   padding: 25px;
   background-color: #008090;
   border: 0;
   color: #ffffff;
   font-family: OpenSans-SemiBold;
   font-size: 20px;
   transition: 0.3s;
   margin-top: 25px;
}

.discover:hover {
   background-color: #15a9bd;
}

.discover:active {
   background-color: #001d26;
}

.percentage {
   font-family: OpenSans-Bold;
   color: #008090;
   font-size: 55px;
}

.modalities {
   font-family: OpenSans-Bold;
   color: #5b5c5e;
   font-size: 30px;
   line-height: 50px;
}

.banner {
   display: flex;
   justify-content: space-between;
   padding-left: 20px;
   padding-right: 20px;
}

#caroussel {
   width: 510px;
   overflow: hidden;
}

.condition {
   font-family: OpenSans-SemiBold;
   color: #5b5c5e;
   font-size: 22px;
   line-height: 70px;
}

.dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   background-color: #fff;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.3s ease;
   border: 1px solid #0c8695
}

.active,
.dot:hover {
   background-color: #001d26;
   border: solid 1px #001d26;
}

.slide {
   -webkit-animation-name: slide;
   -webkit-animation-duration: 0.3s;
   animation-name: slide;
   animation-duration: 0.3s;
}

@-webkit-keyframes slide {
   from {
      position: relative;
      left: 500px
   }

   to {
      position: relative;
      left: 0px;
   }
}

@keyframes slide {
   from {
      position: relative;
      left: 500px
   }

   to {
      position: relative;
      left: 0px;
   }
}

.frame {
   display: none;
   background-color: #fff;
}

.frameselector {
   margin-top: 10px;
}

/* END SLIDESHOW */

/* MODIF PHP */
/* MODIF TEST PHP */
.flex {
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   /* align-content: center; */
   width: 94.9%;
}

.sur-flex{
    display: flex;
    flex-direction: row;
}
.header-main {
   width: 100%;
   z-index: 9;
}

.pret-main {
   width: 50%;
   display: flex;
   justify-content: center;
}

.simulateur-main {
   width: 40%;
   margin-left: 4%;
   z-index: 2;
}

.article1-main {
   width: 40%;
   padding-left: 6vw;

}

.decouverte-main {
   width: 60%;
}

.photo-main img {
   width: 40vw;
   
}
.photo-main {
   margin-top: 5vw;
   margin-bottom: 5vw;
   margin-left: 1vw;
}

.article2-main {
   width: 50vw;
}

.footer-main {
   width: 100%;
}


@media screen and (max-width: 1024px) {
   .banner {
      display: block;
      text-align: center;
   }
   .article-main p {
      font-size : 20px;
      line-height: 40px;
      padding : 5vw;
   }

   .pret-main {
      width: 100%;
      margin-bottom: 10vh;
   }

   .simulateur-main {
      width: 100%;
      margin-bottom: 10vh;
   }

   .article1-main {
      width: 100%;

   }

   .decouverte-main {
      width: 100%;

   }

   .photo-main {
      width: 100%;
      height: 200px;
   }

   .article2-main {
      width: 100%;

   }

   .topfooter {
      justify-content: center;

      display: flex;
   }

   .sitemap {
      flex-direction: column;
      align-items: center;

   }

   .sitemaplink {
      line-height: 35px;
      font-size: 20px;
   }

   .botfooter {
      flex-direction: column;
      justify-content: space-around;
      padding-bottom: 80px;
      padding-top: 50px;
      
      
      
   }
   .flex{
      width : 100%;
   }

   .rightbotfooter {
      align-items: center;
      font-size: 16px;
   }

   .infosfooter p {
      font-size: 16px;
      margin-bottom: 30px;
      padding:0px;
      
   }

   .loanwarning {
      font-size: 16px;
      margin-top: 25px;
      margin-bottom: 30px;
   }

   .leftbotfooter {
      text-align: center;
   }
}

/* SCROLLER */
.scroll {
   font-family: OpenSans-Regular;
   font-size: 14px;
   color: #8c8a8a;
   transform: rotate(90deg);
   margin-top: 300px;
   letter-spacing: 2px;

}

.scrollbar {
   height: 100px;
   width: 2px;
   background-color: #008090;
   margin-top: 20px;
}

/* GLOBAL CONTAINER THAT HAS TO BE FULL PAGE */

.container {
   position:fixed;
   overflow: hidden;
   z-index: 15;

}

/* SHADOW BEHIND THE NAV */

.shadowcircle {

   width: 35px;
   height: 260px;
   border-radius: 50%;
   background-color: #fff;
   z-index: 11;
   margin-top: 20px;
   margin-right: 3px;
   display: flex;
   filter: drop-shadow(-19px 0px 25px rgb(94, 94, 94));
   position: fixed;
   right: 0px;


}

/* BUTTONS OF THE NAV */
.lang {
   height: 30px;
   width: 30px;
   background-color: #fff;
   border: 1px solid #008090;
   border-radius: 50%;
   margin-bottom: 10px;
   color: #008090;
   font-family: OpenSans-Regular;
   font-size: 15px!important;

}

.call {
   height: 30px;
   width: 30px;
   background-color: #fff;
   border: 1px solid #008090;
   border-radius: 50%;
   margin-bottom: 10px;
   display: flex;


}

#phone {
   height: 100%;
   width: 100%;
   display: flex;

}

.search {
   height: 30px;
   width: 30px;
   background-color: #fff;
   border: 1px solid #008090;
   border-radius: 50%;
}

#search {
   height: 100%;
   width: 100%;
   display: flex;
}

.breadtop {
   height: 2px;
   width: 30px;
   background-color: #008090;
   margin-bottom: 6px;
   margin-top: 6px;
}

.steak {
   height: 2px;
   width: 20px;
   background-color: #008090;
   margin-bottom: 6px;
   margin-left: 10px;

}

.breadbot {
   height: 2px;
   width: 30px;
   background-color: #008090;
   margin-bottom: -10px;

}

.menu {
   font-size: 11px;
   font-family: OpenSans-Regular;
   color: #008090;
}

#menuburger {
   margin-bottom: 15vh;
   margin-top: 15px;
   border: none;
   background-color: #fff;
   cursor: pointer;
}

#menu-slider {
   width: 95vw;
   height: 100vh;
   background-color: rgb(255, 255, 255);
   position: absolute;
   z-index: 10;
}

.menuTitle {
   font-family: ITC_Eras_Bold;
   font-size: 44px;
   color: #008090;
   text-align: end;
   line-height: 60px;
   padding-right: 15vw;
   display: block;
   text-decoration: none;
}

#paddingmenu {
   padding-top: 20vh;
}

.slidemenu {
   -webkit-animation-name: slidemenu;
   -webkit-animation-duration: 0.5s;
   animation-name: slidemenu;
   animation-duration: 0.5s;
}

@-webkit-keyframes slidemenu {
   from {
      position: absolute;
      left: 100vw;
   }

   to {
      position: absolute;
      left: 0vw;
   }
}

@keyframes slidemenu {
   from {
      position: absolute;
      left: 100vw;
   }

   to {
      position: absolute;
      left: 0vw;
   }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {

   .scroll,
   .scrollbar {
      display: none;
   }

   .container {
      align-items: flex-end;
   }

   nav {
      flex-direction: row;
      width: 100%;
      height: 80px;
      justify-content: space-between;
      align-items: center;
      bottom:0px;

   }

   #menuburger {
      margin: 0;
      margin-bottom: 20px;
   }

   .shadowcircle {
      width: 600px;
      height: 65px;
      border-radius: 50%;
      background-color: #fff;
      z-index: 11;
      bottom: 0px;
   }

   .lang {
      height: 50px;
      width: 50px;
      font-size: 18px;
   }

   .call {
      height: 50px;
      width: 50px;
      align-items: center;
      justify-content: center;
      margin-right: 5vw;
   }

   #phone {
      height: 90%;
      width: 90%
   }

   #search {
      height: 90%;
      width: 90%;
   }

   .breadtop,
   .breadbot {
      margin-left: 15px;
   }

   .steak {
      margin-left: 15px;
   }

   .menu {
      display: none;
   }

   .menuTitle {
      font-size: 30px;



   }
}

/* SECTION DISCOVERY */
/* PLACEMENT OF THE DISCOVERY BLOCK */
#background-discovery {
   clip-path: polygon(6% 16%, 100% 5%, 100% 95%, 6% 90%, 3% 55%);
   background-color: #001d26;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: space-between;
   position: absolute;
   top: -120px;
}



/* DISCOVERY TITLE START */
/* MODIFICATIONS OF THE TITLE OF THE DISCOVERY PAGE */
#decouverte{
    position: relative;
}
#discovery-title {
   order: 2;
   width: 35%;
   color: #dbdbdb;
   text-align: right;
   display: flex;
   flex-direction: column;
   padding: 180px 50px 0 0;
}

/*FONT AND WRITING SIZE FOR THE H2*/
#discovery-title h2 {
   font-family: ITC_Eras_Bold;
   font-size: 41px;
}

/*FONT AND WRITING SIZE FOR THE P*/
#discovery-title p {
   font-family: OpenSans-Regular;
}

/*FONT-WEIGHT FOR THE CREDIT LÉDONIEN ON P*/
.credit-ledonien-weight {
   font-weight: 800;
}

/* DISCOVERY TITLE END */



/*NAME-OF-ARTICLES START*/
/* PALCEMENT OF THE FOUR NAVIGATION MENUS */
.names-Of-Articles {
   order: 1;
   width: 55%;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding-top: 100px;
}

/*ALIGNMENT OF THE PARTS*/
.names-Of-Articles ul li {
   flex-direction: column;
   list-style: none;
}

/*FONT AND WRITING SIZE FOR THE H3*/
.names-Of-Articles h3 {
   font-family: OpenSans-Light;
   font-size: 16px;
}

/*NAME-OF-ARTICLES END*/


/*BUTTOM-ARTICLE START*/
/*DIMENSION OF A PART OF THE DISCOVERY SECTION */

.buttom-article {
   background: #001d26;
   border: none;
   text-align: left;
   border-bottom: 3px solid;
   width: 400px;
   padding: 10px 0 2px 0;
   cursor: pointer;
   color: rgb(255, 255, 255, 0.4);
   transition: color 0.3s, 0.5s;
}

/* WHEN YOU PRESS A BUTTON IT TURNS WHITE */
.activeD,
.buttom-article:hover {
   color: rgb(255, 255, 255, 1);
   transform: translateX(20px);
   transition: 1s;
}

.buttom-article:hover {
   transform: translateX(20px);
   transition: 0.5s;
}

.buttom-article:hover:after {
   transition: 1s;
}

/*BUTTOM-ARTICLE END*/



/*ARTICLES STARTS*/
/* THE FOUR PARTS OF THE DISCOVERY PAGE*/
.all-article-discovery {
   display: flex;
   position: absolute;
   bottom: 0px;
   right: 0px;
   margin: -170px 0;

}

.frame-decouverte {
   display: none;
   clip-path: polygon(0% 0, 100% 0%, 100% 85%, 0% 90%);
   background-color: #008090;
   height: 70vh;
   width: 40vw;
}


/* PLACEMENT OF ALL IMAGES */
.article-descovery img {
   height: 35%;
   width: 88%;
   display: block;
   margin: auto;
   padding-top: 40px;
   object-fit: cover;
}

.article-descovery p {
   font-family: OpenSans-Regular;
   color: #dbdbdb;
   font-size: 20px;
   letter-spacing: 1px;
   width: 73%;
   display: block;
   margin: 20px auto;
}

.article-descovery a {
   font-family: OpenSans-SemiBold;
   font-size: 18px;
   color: #dbdbdb;
   text-decoration: none;
   width: 71%;
   display: block;
   margin: auto;
}

.link-line-discovery::after {
   content: "";
   background: #dbdbdb;
   height: 3px;
   width: 122px;
   transition: width 0.5s;
   display: block;
}

.link-line-discovery:hover::after {
   width: 50px;
   transition: width 0.5s;
}

/*ARTICLES END*/





.who-banner{
   height:46vw;
   overflow:hidden;
   background-image: url(../images/banner.jpg);
   background-size: contain;
   background-repeat: no-repeat;
   position: relative;
   align-items: center;
   justify-content: center;
   display:flex;
   
}  
    
.title-banner{
   font-family: ITC_Eras_Bold;
   color : white;
   font-size : 65px;
   text-align: center;
   line-height: 80px;

}

/* MEDIA FOR THE TITLE OF THE BANNER */

@media screen and (max-width : 600px){
   .title-banner{
      font-size: 35px;
   }
}

/* MEDIA FOR THE WHOLE PAGE */

@media screen and (max-width: 1024px){
   .article-container{
      flex-direction: column;
      align-items: center;
      padding-left:0;
   }
   .fakesim{
      order:1;
   }
   .all-articles{
      order:2;
      max-width:90vw;
      
   }
   .article1 h2 , .article2 h2{
      text-align: center;
   }
}

@font-face {
   font-family: ITC_Eras_Bold;
   src: url(../fonts/ErasBoldITC.ttf) format("truetype");
}

@font-face {
   font-family: ERASBD;
   src: url(../fonts/ERASBD.TTF) format("truetype");
}

@font-face {
   font-family: OpenSans-Bold;
   src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-BoldItalic;
   src: url(../fonts/OpenSans-BoldItalic.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-ExtraBold;
   src: url(../fonts/OpenSans-ExtraBold.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-ExtraBoldItalic;
   src: url(../fonts/OpenSans-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-Italic;
   src: url(../fonts/OpenSans-Italic.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-Light;
   src: url(../fonts//OpenSans-Light.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-LightItalic;
   src: url(../fonts/OpenSans-LightItalic.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-Regular;
   src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-SemiBold;
   src: url(../fonts/OpenSans-SemiBold.ttf) format("truetype");
}

@font-face {
   font-family: OpenSans-SemiBoldItalic;
   src: url(../fonts/OpenSans-SemiBoldItalic.ttf) format("truetype");
}